@media screen and (max-width:800px) {
   

    /* Header */

    header .container{
        display: flex;
        align-items: center;
        padding: 5px;
    }

    header .logo{
        width: 50px;
        margin: 0 10px 0 10px ;
    }

    .nav1{
        font-size:10px;
        margin-right: 0px;
        margin-left:15px;
        
    }

    .nav2{
        display: inline-block;
        visibility: hidden;
    }

    /* --------*/
    

    /* Destaque Filme */
   
    .filme-destaque .descricao-destaque{
        margin-bottom:20px;
        margin-right: 0px;
        font-size: 16px;
        line-height: 23px;
        max-width: 300px;
        text-shadow: 3px 3px 8px #000000a4;
    }
    
    .titulo-destaque {
        font-size: 30px;
        margin-bottom: 18px;
        text-shadow: 3px 3px 8px #00000071;
    }

    .botaoplay, .botaoinfo{
        font-size: 14px;
        width: 200px;
        height: 50px;
        text-align: center;
        margin-bottom: 8px;

    }

    /* --------*/



    /* Footer */

    .container-footer{
        display: flex;
        font-size: 8px;
        margin-top: 30px;
    }

    .lista-footer li{
        padding: 3px;
        list-style: none;
    }

    .icons-spc{
        visibility: hidden;
    }

     /* --------*/
}